.table {
  width: auto;
}

.table>:not(caption)>*>* {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

tbody tr:last-child > * {
  border-bottom-width: 0;
}

.table-dark {
  --bs-table-bg: #333A40;
}

caption {
  display: none;
}
